@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Inter:wght@100;200;300;500;600;700&family=Tilt+Prism&display=swap");

@font-face {
  font-family: face;
  src: url(Adlery-Pro-Blockletter-trial.woff);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  height: 100vh;
  background-image: url(wp2697007.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* 
.s::before{
    content: "";
    display: block;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
    top: 0;
}

.header
{


}
.container{
    z-index: 10;
} */

.sidebar {
  background-color: #11101d;
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  padding: 6px 14px;
  transition: all 0.5 ease;
}

.sidebar.open {
  width: 250px;
}

.logo-detail {
  height: 66px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo_name {
  font-size: 20px;
  color: #fefeff;
  font-weight: 600;
}

li a {
  list-style: none;
  text-decoration: none;
}

.icon {
  transition: all 0s ease;
}

.logo_name {
  font-size: 20px;
  font-weight: 400;
  transition: all 0s ease;
  color: #fff;
}
.sidebar.open {
  width: 250px;
}
/* 
.sidebar.open .logo-detail .icon,
.sidebar.open .logo-detail .logo_name{

opacity: 1; */

::selection {
  background-color: #fff;
  color: #11101d;
  font-size: larger;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatey(-50%);
  font-size: 20px;
  color: #fff;

  cursor: pointer;
  transition: all 0.5s ease;
}
#btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  text-align: center;
  min-width: 50%;
  line-height: 50px;
  font-size: 25px;
}

.nav-list {
  margin-top: 20px;
  padding: 0;
  height: 100%;
  list-style: none;
}
li {
  position: relative;
  margin: 8px 0;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background-color: #fff;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}

/* .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  } */
/* li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  } */
.tooltip {
  display: none;
}

input {
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 6px 1px;
  border-radius: 49px;
}
li a {
  color: #fff;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  font-size: 22px;

  color: #110f0f;
}

input[type="search"] {
  font-family: monospace;
  text-align: center;
}
::placeholder {
  padding: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input[type="search"]:hover {
  transform: scale(1.1);
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}

i:hover {
  color: black;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
  transition: 200ms;
}

.li .link-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link_name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}

.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.name-job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #fefeff;

  top: 0;
  left: 78px;
  width: 150px;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
